<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJobLabel" jhiTranslate="vehicleManagerApp.job.home.createOrEditLabel">Create or edit a Job</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!job.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="job.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vehicleManagerApp.job.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="job.name" required maxlength="100"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vehicleManagerApp.job.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="job.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vehicleManagerApp.job.drivers" for="field_drivers">Drivers</label>
            <input type="number" class="form-control" name="drivers" id="field_drivers"
                [(ngModel)]="job.drivers" required/>
            <div [hidden]="!(editForm.controls.drivers?.dirty && editForm.controls.drivers?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.drivers?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.drivers?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vehicleManagerApp.job.startDateTime" for="field_startDateTime">Start Date Time</label>
            <div class="d-flex">
                <input id="field_startDateTime" type="datetime-local" class="form-control" name="startDateTime" [(ngModel)]="job.startDateTime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vehicleManagerApp.job.endDateTime" for="field_endDateTime">End Date Time</label>
            <div class="d-flex">
                <input id="field_endDateTime" type="datetime-local" class="form-control" name="endDateTime" [(ngModel)]="job.endDateTime"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="vehicleManagerApp.job.vehicle" for="field_vehicle">Vehicle</label>
            <select class="form-control" id="field_vehicle" name="vehicle" [(ngModel)]="job.vehicleId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="vehicleOption.id" *ngFor="let vehicleOption of vehicles; trackBy: trackVehicleById">{{vehicleOption.name}} (Place : {{vehicleOption.numberOfPlace}} Max)</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
